*{
    margin:0;
    padding:0;
  * box-sizing:border-box;
}

body{
 *  font-family:Arial, sans-serif;
 *  background:#f4f6f8;
}

header{
 *  text-align:center;
    color:whi*e;
    background:linear-gradient(*35deg,#0a4a2f,#135d91);
    paddin*:30px;
}

.logo{
    width:220px;
*   max-width:90%;
    border-radiu*:12px;
}

.hero{
    background:wh*te;
    margin:20px;
    padding:2*px;
    border-radius:12px;
    te*t-align:center;
}

.hero h2{
    m*rgin-bottom:10px;
    color:#0a4a2*;
}

.menu{
    display:grid;
    *ap:15px;
    padding:20px;
}

.men*-card{
    display:block;
    text*decoration:none;
    background:wh*te;
    color:#0a4a2f;
    padding*20px;
    text-align:center;
    b*rder-radius:12px;
    font-weight:*old;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.menu-card:hover{
    background:#0a4a2f;
    color:white;
}

.admin-card{
    background:#ffd700;
    color:black;
}

@media(min-width:768px){
    .menu{
        grid-template-columns:repeat(3,1fr);
    }
}
